@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto Slab", serif;
    background-color: #d2dbdd;
    align-items: center;
}

#card {
    width: 100%;
    margin: 0 auto;
}

.card-bg {
    background: #fff;
    color: #000;
    border-radius: 2em;
    width: fit-content;
    margin: 1.5em auto;
    box-shadow: 10px 10px 7px -2px rgba(194, 194, 194, 1);
        -webkit-box-shadow: 10px 10px 7px -2px rgba(194, 194, 194, 1);
        -moz-box-shadow: 10px 10px 7px -2px rgba(194, 194, 194, 1);
}

.card-info {
    padding: 6em;
    width:100%;
}
#group-name {
    text-align: center;
    font-size: 1.7em;
    color:rgba(28, 28, 145, 0.719);
}

#group-members h2 {
    text-align: center;
    padding-top: 1.2em;
    color:rgba(17, 17, 85, 0.719);;
}

#group-members ul{
    display: flex;
    list-style: none;
    padding-top: 2em;
    text-align: center;
}

#group-members ul li {
    padding: 0.8em;
    font-size: 1.5em;
    font-family: "Raleway", sans-serif;
    text-align: center;
    color:#c2331a;
    width:100%;
}

#group-members ul li:hover{
    cursor: pointer;
    color:rgb(20, 20, 189);
}

@media (min-width:310px) and (max-width: 440px) {
    #card {
    width: 100%;
    }

    .card-bg{
    margin:1em auto;
    }

    .card-info {
    padding: 2em;
    width: 100%;
    }

    #group-name {
    font-size: 0.68em;
    width: 100%;
    padding-top:1.5em;
    }

    #group-members h2 {
    font-size: 1em;
    padding-top: 1.5em;
    padding-bottom: -2em;
    }

    #group-members ul {
    display: flex;
    flex-direction: column;
    }

    #group-members ul li {
    font-size: 1.2em;
    }
}